{{ define "header" }}
  {{ partial "masthead.html" . }}
{{ end }}
{{ define "main" }}
	<div class="leader">
      	<pre style="margin-left: 10px;">
      		▬▬▬.◙.▬▬▬
		 ▂▄▄▓▄▄▂
		◢◤ █▀▀████▄▄▄▄◢◤
		█▄ █ █▄ ███▀▀▀▀▀▀▀╬
		◥█████◤
		══╩══╩═
  		╬═╬
  		╬═╬
  		╬═╬===_<code class="hellocap">Hello World</code>====
  		╬═╬ ☻/		    ||
  		╬═╬/▌		    ||
  		╬═╬/ \		    ||
  			            \/
      				    Welcome to <code>$HOME</code>.
  	    </pre>
  	</div>
  	<h3>About<br>=========</h4>
  	<p>I'm a coder. I code things to make lives easier. While not coding, I start zombie processes of array of <code>time pass</code>. This array includes:
  	<ul>
  		<li>'watching movies',</li>
  		<li>'playing games parallely with music',</li>
  		<li>'destroying and re-creating some stuffs'.</li>
  	</ul>
  	</p>
  	<h3>Social
  	<br>==========</h4>
  	<table>
    	<tr>
      		<th>LinkedIn</th>
	     	<td><a href="https://www.linkedin.com/in/sagarladla/" target="_blank" rel="external">https://www.linkedin.com/in/sagarladla/</td>
    	</tr>
    	<tr>
      		<th>GitHub</th>
      		<td><a href="https://github.com/sagarladla/" target="_blank" rel="external">https://github.com/sagarladla/</a></td>
    	</tr>
    	<!--div class="social">
      	<a href="https://keybase.io/sagarladla/" target="_blank" rel="external">
        	<img class="icon keybase" src="icons/keybase.png">Keybase
      	</a>
    	</div>
    	<div class="social">
      	<a href="https://bitbucket.org/sagarladla/" target="_blank" rel="external">
        	<img class="icon" src="icons/bitbucket.png">BitBucket
      	</a>
    	</div-->
     	<tr>
     		<th>Dev.to</th>
      		<td><a href="https://dev.to/sagarladla/" target="_blank" rel="external">https://dev.to/sagarladla/</a></td>
    	</tr>
    	<tr>
    		<th>Binary Search</th>
    		<td><a href="https://binarysearch.io/@/Ladla" target="_blank" rel="external">https://binarysearch.io/@/Ladla</a></td>
  		</tr>
  </table>
  
  <h4>Blog<br>=========</h4>
  <p>I rarely write post about things I have done and explored as my passion in various fields of computer science
  and technologies. You can read them in <span class="blog"><a href="/post/">posts</a> section of my <code class="hellocap">$HOME</code>. You can also check interested <a href="/tags/">tags</a>.</span></p>
{{ end }}
