{{ define "main" }}
  
  <br><br>
  <div class="leader">
    <img src="me.jpg" class="myimage">
    <br>
    <div>
        &lt; Hello World &gt; <br>
        Welcome to my wonderland.
    </div>
  </div>
  <h4>#### About<br>==========</h4>
  I'm a software developer having enough experience in coding with bit of taste in 
  AI, ML and Natural Language Processing(NLP).

  <br><br>
  <h4>#### Social<br>===========</h4>
  <nav class="social">
        <div class="social">
          <a href="https://www.linkedin.com/in/sagarladla/"><img class="icon" src="icons/linkedin.png">LinkedIn</a>
        </div>
        <div class="social">
          <a href="https://github.com/sagarladla"><img class="icon" src="icons/github.png">GitHub</a>
        </div>
        <div class="social">
          <a href="https://www.youtube.com/channel/UCSvoy3xu6iTGtl2OP9s-yPQ"><img class="icon" src="icons/youtube.png">YouTube</a>
        </div>
        <div class="social">
          <a href="https://keybase.io/sagarladla"><img class="icon keybase" src="icons/keybase.png">Keybase</a>
        </div>
        <div class="social">
          <a href="https://bitbucket.org/sagarladla/"><img class="icon" src="icons/bitbucket.png">BitBucket</a>
        </div>
  </nav>

  <br>
  <h4>#### Blog<br>=========</h4>
  I have written blogs about things I have done and explored as my passion in various fields of computer science
  and technologies. You can read them in <a href="/blog">Blog</a> section of my <i>wonderland</i>. You can also see in <a href="/blog_list">datewise sorted manner</a>.

  {{ end }}